requests==2.31.0
beautifulsoup4==4.12.3
selenium==4.20.0
seleniumbase==4.29.9
webdriver-manager==4.0.1
pandas==2.2.2
lxml==5.2.1
fake-useragent==1.5.1
python-dotenv==1.0.1
rapidfuzz==3.9.7
curl_cffi==0.7.4
google-genai
